/* Box sizing */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* App CSS */
body {
  font-family: "Lora", serif;
}

nav {
  position: fixed;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0.3rem 1rem;
  border-bottom: 1px solid #dddddd;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.left-nav {
  display: flex;
  align-items: center;
}

.left-nav > * {
  margin-right: 1rem;
}

.center-nav {
  text-align: center;
}

.right-nav {
  display: flex;
}

.icon {
  align-self: center;
}

#title {
  font-family: "Grenze Gotisch", cursive;
  font-variant: small-caps;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

#article-section {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

#article-section p {
  font-family: "Commissioner", sans-serif;
  font-weight: bold;
}

.btn {
  border: 1px solid black;
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin: 0 0.15rem;
}

.btn-info {
  background-color: #567b95;
  border-color: #326891;
  font-family: "Commissioner", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7rem;
  color: white;
}

/* article */

.container {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caption {
  color: #888888;
  max-width: 40rem;
  align-self: center;
  margin-bottom: 2rem;
}

.caption-author {
  font-size: 0.8rem;
}

.caption-author a:link {
  color: #888888;
  text-decoration: none;
}

.caption-author a:visited {
  color: #888888;
  text-decoration: none;
}

.caption-author a:hover {
  color: #888888;
  text-decoration: none;
}

.caption-author a:visited {
  color: #888888;
  text-decoration: none;
}

.author {
  font-family: "Commissioner", sans-serif;
  font-size: 0.8rem;
  font-weight: 800;
  max-width: 35rem;
  margin: 1rem auto;
}

.author a:link,
.author a:visited {
  color: black;
  text-decoration: underline #bbbbbb solid;
}

.author a:hover {
  color: black;
  text-decoration: none;
}

.date {
  font-family: "Commissioner", sans-serif;
  font-size: 0.7rem;
}

ul.social {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
}

ul.social > * {
  font-size: 1rem;
  margin: 0 0 0 1rem;
}

.circle {
  border-radius: 50%;
  background-color: #eeeeee;
  padding: 0.2rem;
}

.article-header {
  justify-content: space-between;
  max-width: 35rem;
  margin: 0 auto;
}

.article-content {
  margin: 1rem auto;
  max-width: 35rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.article-editions {
  max-width: 35rem;
  font-size: 0.7rem;
  color: #444444;
  max-width: 35rem;
  margin: 1rem auto;
}

.article-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 35rem;
  margin: 1rem auto;
}

h2.important {
  margin: 1rem auto;
  max-width: 35rem;
  font-size: 1.2rem;
}

/* Infographic */

.infographic .caption {
  font-size: 0.8rem;
}

.infographic .grid {
  display: grid;
  grid-template: 1fr 1fr / repeat(4, 1fr);
  grid-gap: 0.5rem;
  font-family: "Commissioner", sans-serif;
  font-size: 0.8rem;
}

.infographic .tile {
  max-width: 240px;
}

.infographic .description strong {
  font-variant: small-caps;
}

.infographic img {
  max-width: 240px;
}

/* Footer */

footer {
  margin: 0 4rem;
  font-size: 0.7rem;
  max-width: 1100px;
  margin: 2rem auto;
}

.horizontal-line {
  width: 100%;
}

.fake-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Commissioner", sans-serif;
}

ul.fake-section {
  list-style: none;
  padding: 0;
}

ul.fake-section > * {
  font-size: 0.8rem;
  margin: 0.8rem 0 0 0;
}

li.fake-section-title {
  text-transform: uppercase;
  font-weight: 800;
}

.footest {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}
